<header class="fullPage" id="intro">
    <div class="container intro-body">
    <div class="row">
        <div class="col-md-4 text-right" style="max-width: 300px;">
            <br class="hidden-sm hidden-md hidden-lg" />
            <img class="img-responsive img-circle" src="img/sitepic.jpg" style="max-height: 275px; max-width: 275px;" alt="Steven Brooks"></img>
        </div>
        <div class="col-md-8 text-left">
            <h1 id="intro-text-big text-right">
                Hi, I'm <c id="my-name">Steven Brooks</c>,<p></p> a software developer.
            </h1>
            <hr />
            <h3 id="intro-text-small">
               I'm passionate about solving problems<p></p> and learning new things. 
            </h3>
            
        </div>
    </div>
  </div>
</header>

<div id="playground" class="fullPage">
	<div class="container">
        <div class="row text-left">
            <div class="col-sm-12">
                <h1 style="color: #4aaca8"><b>Portfolio</b></h1>
            </div>
        </div>

        <div class="row text-center hidden-xs">
            <div class="col-sm-4">
                <a data-toggle="modal" data-target="#clChatModal"><img class="img img-responsive" src="img/clchat.png"></img></a>
                <a data-toggle="modal" data-target="#clChatModal"><h3 class="text-left projTitles">clChat</h3></a>
                <p class="projParagraps text-left">clChat is a chatting application, that works in your terminal. It utilizes the same protocol that gaming systems and torrent programs use in order to allow someone to start a chat server from their house, all without fiddling with any network equipment.</p>
            </div>
            <div class="col-sm-4">
                <a data-toggle="modal" data-target="#mactrackModal"><img class="img img-responsive" src="img/mactrack.jpg"></img></a>
                <a data-toggle="modal" data-target="#mactrackModal"><h3 class="text-left projTitles">Mactrack</h3></a>
                <p class="topProjParagraphs projParagraps text-left">Mactrack is an application internally used by the network engineering team to track and analyze network usage over time; making monitoring and auditing such metrics a trivial and painless task.</p>
            </div>
            <div class="col-sm-4">
                <a data-toggle="modal" data-target="#wifiEduModal"><img class="img img-responsive" src="img/wifi.jpg"></img></a>
                <a data-toggle="modal" data-target="#wifiEduModal"><h3 class="text-left projTitles">wifi.unlv.edu</h3></a>
                <p class="topProjParagraphs projParagraps text-left">wifi.unlv.edu is the site that connects UNLV students, staff, and faculty to the eduroam network, which will soon replace the current wifi system at UNLV. It features a nice user interface that utilizes an operating system detecting instruction page/modal. My involvement involved all of the front end work, making sure the site fit to the standards of an established designer.</p>
            </div>
        </div>
        <div class="row text-center hidden-xs">
            <div class="col-sm-6">
                <a data-toggle="modal" data-target="#cltModal"><img class="img img-responsive" src="img/clt.png"></img></a>
                <a data-toggle="modal" data-target="#cltModal"><h3 class="text-left projTitles">CLT</h3></a>
                <p class="projParagraps text-left">Convention Logistics Tracker was the <u>First Place</u> winning entry into UNLV's 2017 Senior Design competition for the Computer Science category. The project had many layers to it, with the end result being a software suite that connected convention goers with organizers.</p>
            </div>
            <div class="col-sm-6">
                <a data-toggle="modal" data-target="#pskModal"><img class="img img-responsive" src="img/psk.jpg"></img></a>
                <a data-toggle="modal" data-target="#pskModal"><h3 class="text-left projTitles">Wi-Fi PSK Application</h3></a>
                <p class="projParagraps text-left">I wrote UNLV's Wi-Fi PSK Application in order to make an easy to use system to manage access on to UNLV's PSK net. It grants IT groups outside of the network engineering department to control user access to the net, adding and removing users by MAC address.</p>
            </div>
        </div>
       
        <!-- Mobile view -->
        <div class="row text-center hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="col-xs-12">
                <a data-toggle="modal" data-target="#cltModal"><img class="img img-responsive" src="img/clt.png"></img></a>
                <a data-toggle="modal" data-target="#cltModal"><h3 class="text-left projTitles">CLT</h3></a>
                <p class="projParagraps text-left">Convention Logistics Tracker was the <u>First Place</u> winning entry into UNLV's 2017 Senior Design competition for the Computer Science category. The project had many layers to it, with the end result being a software suite that connected convention goers with organizers.</p>
            </div>
        </div>
        <div class="row text-center hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="col-xs-6">
                <a data-toggle="modal" data-target="#wifiEduModal"><img class="img img-responsive" src="img/wifi.jpg"></img></a>
                <a data-toggle="modal" data-target="#wifiEduModal"><h3 class="text-left projTitles">wifi.unlv.edu</h3></a>
                <p class="topProjParagraphs projParagraps text-left">wifi.unlv.edu is the site that connects UNLV students, staff, and faculty to the eduroam network, which will soon replace the current wifi system at UNLV. It features a nice user interface that utilizes an operating system detecting instruction page/modal. My involvement involved all of the front end work, making sure the site fit to the standards of an established designer.</p>
            </div>
            <div class="col-xs-6">
                <a data-toggle="modal" data-target="#clChatModal"><img class="img img-responsive" src="img/clchat.png"></img></a>
                <a data-toggle="modal" data-target="#clChatModal"><h3 class="text-left projTitles">clChat</h3></a>
                <p class="projParagraps text-left">clChat is a chatting application, that works in your terminal. It utilizes the same protocol that gaming systems and torrent programs use in order to allow someone to start a chat server from their house, all without fiddling with any network equipment.</p>
            </div>
        </div>
        <div class="row text-center hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="col-xs-6">
                <a data-toggle="modal" data-target="#pskModal"><img class="img img-responsive" src="img/psk.jpg"></img></a>
                <a data-toggle="modal" data-target="#pskModal"><h3 class="text-left projTitles">Wi-Fi PSK Application</h3></a>
                <p class="projParagraps text-left">I wrote UNLV's Wi-Fi PSK Application in order to make an easy to use system to manage access on to UNLV's PSK net. It grants IT groups outside of the network engineering department to control user access to the net, adding and removing users by MAC address.</p>
            </div>
            <div class="col-xs-6">
                <a data-toggle="modal" data-target="#mactrackModal"><img class="img img-responsive" src="img/mactrack.jpg"></img></a>
                <a data-toggle="modal" data-target="#mactrackModal"><h3 class="text-left projTitles">Mactrack</h3></a>
                <p class="topProjParagraphs projParagraps text-left">Mactrack is an application internally used by the network engineering team to track and analyze network usage over time; making monitoring and auditing such metrics a trivial and painless task.</p>
            </div>
        </div>

        <br />
        <!--a href="#playground/game1">Bored?</a-->
    </div>
</div>

<div class="fullPage" id="about">
    <div class="container-fluid" ng-init="setCurrView('skills')" id="aboutHeader">
        <div class="row text-left">
            <div class="col-sm-12">
                <h2 style="padding-left 20px;">About Me</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
            </div>
            <br class="hidden-lg hidden-md hidden-sm"/>
            <div class="col-sm-4">
                <div class="row text-center" id="aboutHeaderIconBox">
                    <div class="col-xs-4" id="skillsHeader">
                        <a href=""><img class="img aboutImage skillHeader" src="img/skills_icon.png" ng-click="setCurrView('skills')"></img></a>
                        <p  ng-click="setCurrView('skills')" class="aboutLabels skillHeader">Skills</p>
                        <img class="img aboutTri" ng-show="currView === 'skills'" src="img/triangle.png"></img>
                    </div>
                    <div class="col-xs-4" id="expHeader">
                        <a href=""><img class="img aboutImage expHeader" src="img/experience_icon.png" ng-click="setCurrView('exp')"></img></a>
                        <p ng-click="setCurrView('exp')" class="aboutLabels expHeader">Experience</p>
                        <img class="img aboutTri" ng-show="currView === 'exp'" src="img/triangle2.png"></img>
                    </div>
                    <div class="col-xs-4" id="eduHeader">
                        <a href=""><img class="img aboutImage" src="img/school_icon.png" ng-click="setCurrView('edu')"></img></a>
                        <p ng-click="setCurrView('edu')" class="aboutLabels">Education</p>
                        <img class="img aboutTri" ng-show="currView === 'edu'" src="img/triangle3.png"></img>
                    </div>
                </div>
            </div>
            <br class="hidden-lg hidden-md hidden-sm"/>
            <div class="col-sm-4">
            </div>
        </div>
    </div>

    <div class="aboutDetail" ng-show="currView === 'edu'" id="aboutEdu">
        <div class="container text-center">
            <div class="row text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>Education</h2>
                    <p style="font-weight: bold">Education has always been something that I passionately pursue. I love learning, inside and outside of the classroom. I started college as a biology major, but changed to computer science due to the exposure to programming I received in my biology lab. There has not been a semester since my first one in college where I allowed myself to fall off of the Dean's Honor List.</p>
                </div>
                <div class="col-sm-2">
                </div>
            </div>

            <hr style="width: 30%"/>

            <div class="row text-center">
                <h2>Degrees</h2>
                <p>B.S Computer Science<br />
                Minor in Mathematics<br />
                May 2018<br />
                Honors: <i>magna cum laude</i> (GPA: 3.88)</p>
            </div>
        </div>
    </div>

    <div class="aboutDetail" ng-show="currView === 'skills'" id="aboutSkills">
        <div class="container">
            <div class="row text-left">
                <div class="col-sm-5">
                    <h3>Drive</h3>
                    <hr />
                    <p>I pride myself in the ability to learn fast, and retain well. While I believe it is important to master some things (a few languages and frameworks), I have always valued being dynamic over anything. I can quickly catch on to the syntax of a new language, and have no trouble looking at foreign code and understanding/modifying it.</p>
                    <br />
                    <h3>Networking and Dev Ops</h3>
                    <hr />
                    <p>I have extensive experience in GNU/Linux server configuration, whether it be the configuration of a packet capture server or an Nginx/Apache/Node.js webserver. Whether it be to configure a server, or work with network equipement to get the server live, I am extremely comfortable working in a terminal.</p>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Languages/Frameworks/Skills</h3>
                            <hr />
                            <p>I have extensive experience in the following:</p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li>Javascript</li>
                                    <li>C#</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                </div>
                                <div class="col-sm-4">
                                    <li>Server Administration</li>
                                    <li>Flask</li>
                                    <li>Bootstrap</li>
                                    <li>Angular</li>
                                    <li>Angular JS</li>
                                </div>
                                <div class="col-sm-4">
                                    <li>AWS Skills:</li>
                                    <ul>
                                      <li>Lambda</li>
                                      <li>DynamoDB</li>
                                      <li>IAM</li>
                                      <li>CloudFormation</li>
                                      <li>CloudWatch</li>
                                      <li>AppConfig</li>
                                    </ul>
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <a href="https://github.com/stevenbrookslv" target="_blank"><button class="btn btn-lg" id="gitButton"><b>Check out my Github &#62;</b></button></a>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutDetail" ng-show="currView === 'exp'" id="aboutExperience">

		<div class="timeline-container" style="margin-top: 25px">

			<div class="timeline-item" date-is='February 2019 - Current'>
				<div class="container-float text-left">
                    <div class="row">
                        <div class="col-sm-12">
                        <h3>Software Engineer</h3>
                        <h4 style="color: #ffffff">Zappos</h4>
                        <ul>
                            <li>
                                Backend engineering using Java (and occasionally Python)
                            </li>
                            <li>
                                Usage of AWS for a myriad of services from serverless applications to databases
                            </li>
                            <li>
                                Heavy microservice based architecture with flow of data having many touch points
                            </li>
                        </ul>
                        </div>
                    </div>
				</div>
			</div>

			<div class="timeline-item" date-is='September 2018 - February 2019'>
				<div class="container-float text-left">
                    <div class="row">
                        <div class="col-sm-12">
                        <h3>Software Engineer</h3>
                        <h4 style="color: #ffffff">Everi</h4>
                        <ul>
                            <li>
                                Backend engineering using C# and MSSQL
                            </li>
                            <li>
                                Frontend development using Angular
                            </li>
                            <li>
                                Process optimization and architectural improvements to existing systems
                            </li>
                        </ul>
                        </div>
                    </div>
				</div>
			</div>

			<div class="timeline-item" date-is='April 2018 - September 2018'>
				<div class="container-float text-left">
                    <div class="row">
                        <div class="col-sm-12">
                        <h3>Jr. Software Engineer</h3>
                        <h4 style="color: #ffffff">Influential</h4>
                        <ul>
                            <li>
                                Backend engineering using Node.js and MySql
                            </li>
                            <li>
                                Focus on microservice architecture and system design
                            </li>
                            <li>
                                Debugging legacy code and systems
                            </li>
                        </ul>
                        </div>
                    </div>
				</div>
			</div>

			<div class="timeline-item" date-is='August 2016 - April 2018'>
				<div class="container-float text-left">
                    <div class="row">
                        <div class="col-sm-12">
                        <h3>Software Developement Intern</h3>
                        <h4 style="color: #ffffff">UNLV Network Engineering</h4>
                        <ul>
                            <li>
                                Develop full stack applications using Angular.js, JS, Bootstrap, HTML, Flask, Python, Node.js, MySql
                            </li>
                            <li>
                                Maintain and improve department's current back end systems
                            </li>
                            <li>
                                Make alterations and additions to various MySQL databases
                            </li>
                            <li>
                                Assist with network maintenance and other duties mentioned in previous position
                            </li>
                        </ul>
                        </div>
                    </div>
				</div>
			</div>
			
			<div class="timeline-item" date-is='October 2015 - August 2016'>
				<div class="container-float text-left">
                    <div class="row">
                        <div class="col-sm-12">
                        <h3>Student Network Technician</h3>
                        <h4 style="color: #ffffff">UNLV Network Engineering</h4>
                        <ul>
                            <li>
                                Installed network hardware such as switches, access points, UPS, etc
                            </li>
                            <li>
                                Assisted with network maintenance, upkeep, inventory control, tracking, and replacement
                            </li>
                            <li>
                                Programmed Scripts to improve efficiency of network maintenance
                            </li>
                        </ul>
                        </div>
                    </div>
				</div>
			</div>
			
			<div class="timeline-item" date-is='Aug 2013 - Oct 2015'>
				<div class="container-float text-left">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Undergraduate Research Assistant</h3>
                            <h4 style="color: #ffffff">Schiller Laboratory</h4>
                            <ul>
                                <li>
                                    HIV ToolBax 2 Project
                                </li>
                                <li>
                                    GoMAP Project
                                </li>
                                <li>
                                    C-Terminome Project
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
			</div>
			
		</div>
    </div>
</div>
<div class="modal fade" id="wifiEduModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalAesHeader text-center" style="padding-top: 10px !important">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <img class="img img-responsive" style="padding-top: 10px;" src="img/wifi_screenshot.png"></img>
            </div>
            <div class="modal-body projModalOuterTextBody">
                <div class="text-center">
                    <a href="https://wifi.unlv.edu" target="_blank" style="color: black;"><h1>wifi.unlv.edu</h1></a>
                    <br />
                    <p class="text-left"><span class="devUsing">Developed using:</span> Angular.js, Bootstrap, JavaScript, HTML, CSS</p>
                    <p class="projDescText text-left">wifi.unlv.edu is the site that connects UNLV students to the eduroam network. It features a nice user interface, with an operating system detecting instruction page/modal. My involvement involved all of the front end work, making sure the site fit to the standards of an establisted designer.</p>
                    <p class="projDescText text-left">Note: Since I have worked on this, it looks a little different now. I am happy to see (what once was) my baby grow. The dev who picked it up is amazing and I am so happy to see what they have done with it :)</p>
                    <br />
                    <br />
                    <a href="https://wifi.unlv.edu" target="_blank"><button class="btn">Visit site</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="starCrowdModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalAesHeader text-center" style="padding-top: 10px !important">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <img class="img img-responsive" style="padding-top: 10px;" src="img/starcrowd_screenshot.png"></img>
            </div>
            <div class="modal-body projModalOuterTextBody">
                <div class="text-center">
                    <a href="http://starcrowd.com/dev" target="_blank" style="color: black;"><h1>Starcrowd</h1></a>
                    <br />
                    <p class="text-left"><span class="devUsing">Developed using:</span> Node.js, Angular.js, Bootstrap, HTML, CSS</p>
                    <p class="projDescText text-left">Starcrowd was a small proof of concept/beta project, made hackathon style in just a few days. While being incomplete and mostly just a for fun/practice project, it was still very interesting and a good learning experience. The project was a sort of musician social media site, plugging into Soundcloud and Youtube for artists to showcase videos and music playlists.</p>
                    <p class="projDescText text-left">The project was put together with another frontend developer, with me focusing on backend and DevOps. I worked on small parts of the frontend, just to assist the frontend developer with concepts that they weren't yet familiar with. Otherwise my focus was on getting a working backend going, using Node.js. For authentication and authorization, JSON Web Tokens were used. Data exchange is made via asynchronous requests to the backend using JSON for communication.</p>
                    <p class="projDescText text-left">As far as DevOps go, frontend assets are served via an Apache webserver. Backend requests are also being served via Apache by proxy with a PM2 process for running the Node.js backend. I deemed SSL unecessary at the phase this project was left in, because no real users are on the site.</p>
                    <p class="projDescText text-left">Please note, if you want to create a user and play around with the profile editing features, feel free. Just avoid using any username or password that you ever would actually use, as the connection is not secure.</p>
                    <br />
                    <br />
                    <a href="http://starcrowd.com/dev" target="_blank"><button class="btn">Visit site</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mactrackModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalAesHeader text-center" style="padding-top: 10px !important">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <img class="img img-responsive" style="padding-top: 10px;" src="img/mactrack_screenshot.png"></img>
            </div>
            <div class="modal-body projModalOuterTextBody">
                <div class="text-center">
                    <h1>Mactrack</h1>
                    <br />
                    <p class="text-left"><span class="devUsing">Developed using:</span> Flask, Angular.js, MySQL, Bootstrap, JavaScript, HTML, CSS</p>
                    <p class="projDescText text-left">Mactrack is an internal application I wrote as an intern at the Network Engineering department of UNLV. The purpose of the site is to track and analyze network usage over time. It allows the Network Engineering department to get an in-depth look at every switch and router port on campus, seeing what kinds of end user devices are active on them, as well as other network information.</p>
                    <p class="projDescText text-left">It was my very first real project, and perhaps what made me realize I enjoyed programming as much as I do. While I wanted it to look nice, there was a large focus on backend functionality. The server side programming was fairly complex, in that it requires crawling to all of the devices on campus, extracting useful information from them, and putting that information into a database. I worked on this portion along with one of the senior network engineers at UNLV.</p>
                    <p class="projDescText text-left">The backend for the site was written all by me however. It goes into the database, and extracts the information, formatting it into easily consumable JSON objects that the front end then goes to use to present information onto the users (in this case, the network engineers for campus).</p>
                    <p class="projDescText text-left">Because of the sensitive nature of the data on the site, it is only accessible to a select group of people. However, in order to show some of the more basic funcionality, I have taken the site and largely skimmed it down in order to provide a demo for visitors to my site.</p>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clChatModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalAesHeader text-center" style="padding-top: 10px !important">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <img class="img img-responsive" style="padding-top: 10px;" src="img/clchat.png"></img>
            </div>
            <div class="modal-body projModalOuterTextBody">
                <div class="text-center">
                    <a href="https://github.com/stevenbrookslv/clChat" target="_blank" style="color: black;"><h1>clChat</h1></a>
                    <br />
                    <p class="text-left"><span class="devUsing">Developed using:</span> Python</p>
                    <p class="projDescText text-left">clChat is a small program that allows for instant messaging via a command line on Linux or Mac computers, with no need for a central server or relay point. It allows for communication on local area networks OR across the internet as a whole. The local area network communication is fairly simple in that the only requirement is that users be on the same net. For communication across the internet however, a router that is compatible with the Universal Plug and Play protocols (UPNP) is necessary. On most regular home internet connections, this is a non issue. Places where enterprise networking is in place (think universities) will most likely not be able to use this program however.</p>
                    <p class="projDescText text-left">Implementing the base chatting (for LANs) was not difficult at all. A server computer opens up a socket, and a client user connects to that socket. After entering usernames, the users are able to send messages back and forth. Input is understood by the program a single character at a time. This allows for storing the unsent message by the program. If User_1 is in the middle of a message and User_2 sends a message during this time, the program sends the needed amount of backspace characters to the terminal of User_1, prints User_2's message, then prints the stored version of User_1's message back to the screen.</p>
                    <p class="projDescText text-left">I wanted the program to be able to work over the internet however as well. In thinking about this problem, I realized the immediate solution of having users open up ports on their routers manually was far from user friendly, even for the technically inclined audience the program is meant for. That is where UPNP comes into play. A library for communication with routers was already written in C, with Python bindings also being present. I figured out how to use this library, and implemented it into clChat, automating the process for the server user of figuring out their public IP, deciding on a good port to use, and manually adding the port mapping to their router. </p>
                    <br />
                    <br />
                    <a href="https://github.com/stevenbrookslv/clChat" target="_blank"><button class="btn">clChat</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pskModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalAesHeader text-center" style="padding-top: 10px !important">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <img class="img img-responsive" style="padding-top: 10px;" src="img/psk_screenshot.png"></img>
            </div>
            <div class="modal-body projModalOuterTextBody">
                <div class="text-center">
                    <h1>Wi-Fi PSK Application</h1>
                    <br />
                    <p class="text-left"><span class="devUsing">Developed using:</span> Node.js, Angular.js, Flask, Bootstrap, JS, HTML, CSS</p>
                    <p class="projDescText text-left">I wrote UNLV's Wi-Fi PSK (Pre-Shared Key) Application in order to make an easy to use system to manage access on to UNLV's PSK net. It grants IT groups outside of the network engineering department to control user access to the net, adding and removing users by MAC address. Before this system was developed, people at UNLV only had Wi-Fi WPA-2 Enterprise as a viable way for mobile devices to access the internet. This solution sought to enable people to access a PSK network in order to get devices that aren't compabile with WPA-2 Enterprise systems online wirelessly.</p>
                    <p class="projDescText text-left">The network portion of this project was handled with the help of one of the Network Engineers at UNLV. In order for the system to be manageable, we needed some way to limit use to people permitted to use the network. We chose to do this via access restrictions based on a devices MAC address being registered. The system I developed allowed for people outside of the network team to manage the devices allowed on this net, as well as the potential for users to manage their devices themselves.</p>
                    <p class="projDescText text-left">The system itself is comprised of a few different parts. There is the front end portal for managing access to the net, a front end portal for managing the administation of the site, an authentication server for handling the checking of administrator credentials, and a back end server for handling data transfer to people managing the site.</p>
                    <p class="projDescText text-left">The front end portion of the system is a basic Bootstrap/Angular.js application. It communicates with the authentication and backend servers via a JSON REST API.</p>
                    <figure class="figure">
                        <img src="img/psk2.png" class="figure-img img-fluid rounded img-responsive">
                        <figcaption class="figure-caption">User Admin portal</figcaption>
                    </figure>
                    <br />
                    <figure class="figure">
                        <img src="img/psk3.png" class="figure-img img-fluid rounded img-responsive">
                        <figcaption class="figure-caption">Super User portal</figcaption>
                    </figure>
                    <br />
                    <p class="projDescText text-left">The authentication for the site was a unique challenge for me. The system required multiple different roles for the site. At the lowest level, users needed to be able to log in and manage their own personal devices. The backend routes required to enable this feature were created, but administrative red tape prevents the deployment of it. The viable user types included admins who could add clients and devices connected to those clients, as well as super users who could add LDAP groups to check against for admin accounts. The authentication server works by checking LDAP credentials sent when a user accesses the site, ensuring first that the username sent was in a permitted AD group, then checking that the password associated with that user was correct. I chose to implement the functionality of the authentication server in node.js, based off of the libraries written that made this task easier.</p>
                    <p class="projDescText text-left">The meat of the backend is implemented in Flask. The front end communicates with this backend in order to handle all data transfer. The authentication server also communicates with it briefly in order to check group ownership of users attempting to log into the website.</p>
                    <p class="projDescText text-left">I have explained a lot here, and this project was fairly complex with a lot of moving parts. It took a few months to complete. Beyond the completion of the actual code needed to run it, working with various teams and people in the networking department was required to make it a reality.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cltModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalAesHeader text-center" style="padding-top: 10px !important">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <img class="img img-responsive" style="padding-top: 10px;" src="img/clt_group.jpeg"></img>
            </div>
            <div class="modal-body projModalOuterTextBody">
                <div class="text-center">
                    <h1>Convention Logistics Tracker</h1>
                    <p class="projDescText text-left">My senior design project consisted of eight team members (I am third from the right!) creating a software suite called Convention Logistics Tracker. We won First Place at the 2017 Senior Design Competition for the Computer Science category. I was the lead backend developer, with the responsibility of getting the backend team up to speed on proven techniques I had given my experience. I also did devops for the team, ensuring that we had a reliable backend API that the app and frontend teams could rely on for their HTTP calls.</p>
                    <figure class="figure">
                        <img src="img/clt_screenshot.gif" class="figure-img img-fluid rounded img-responsive">
                        <figcaption class="figure-caption">Gif of the front end while the site was live</figcaption>
                    </figure>
                    <br />
                    <p class="projDescText text-left">The suite contains three software packages: organizer portal, exhibitor portal, and consumer app. In the organizer portal, conference organizers are able to update app information and conference details, such as floor plans, weekly/daily schedules, exhibitors lists, news, and so forth. The exhibitor portal is either filled out by a conference organizer or the exhibitor themselves. Here, exhibitors can upload a description, company logo, and news items for their own booth. For the consumer app, the app developers focused on creating an Android app that displayed all the data pulled from the Exhibitor and Organizer portal (using the REST API built by the backend team. Features of the app include News, Exhibitors List, Floor Plan, and Schedule.</p>
                    <p class="projDescText text-left">As leader of the backend team, not only did I write a good portion of the code, but also helped our other amazing backend developer get up to speed with the basics of how a REST API based backend works. By the end of it, the backend team had a very effective work pipeline working. This process consisted of us finding out exactly what the needs of the frontend and app teams were and figuring out if the database had the structure and information required to fullfill those needs. We also had to figure out the best way to execute on those needs. If the problem we faced was novel, I would tackle it or delegate if it was something easy enough to do where I could review for efficiency and correctness.</p>
                    <figure class="figure">
                        <img src="img/clt_screenshot_2.gif" class="figure-img img-fluid rounded img-responsive">
                        <figcaption class="figure-caption">We used AuthO for authentication into the platform</figcaption>
                    </figure>
                    <br />
                    <p class="projDescText text-left">This project was probably one of my most fun ones to date. While I have worked on plenty of projects alone or with a partner or two, this project brought together a good group of people all with varied qualities to the table to create one functional product. The process of working with a team and using effective communication in order to understand how you can best contribute your cog into the machine with many moving parts that was a project such as this was interesting to say the least. It wasn't necessarily easy, but was absolutely one of the best learning experiences I have had the opportunity to go through.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notYetModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalAesHeader text-center" style="padding-top: 10px !important">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <h1 style="color: white">Description Coming Soon!</h1>
            </div>
        </div>
    </div>
</div>
